
#Red 
{
    height: 200px;
    width: 200px;
    margin: 100;
    background-color: red;
}

#Blue 
{
    height: 200px;
    width: 200px;
    margin: 100;
    background-color: blue;
}

#Green 
{
    height: 200px;
    width: 200px;
    margin: 100;
    background-color: green;
}